.main_container{
    grid-template-rows: 5% 95%;
    margin-left: 20vw;
}

.top_part{
    min-height: 20vh;
    margin-bottom: 1em;
}

.clinic_slots_needed_container_outer {
    display: none;
}

/* .clinic_slots_needed_container_inner{
    padding: 1em 1em;
} */

.clinic_slots_needed_container_sm {
    width: 51vw;
    margin: 0 auto;
    padding: 2em;
}

.clinic_slots_needed_container_sm label {
    margin-bottom: unset;
}

.clinic_slots_needed_container_sm .clinics_needed_input {
    width: 4vw;
    text-align: center;
}

.manipulation_buttons_container {
    display: flex;
    justify-content: center;
}

.addClinicSlotBtn ,
.backSlotBtn {
    width: 20vw;
    height: 8vh;
    display: grid;
    margin: 0em 1em;
    place-items: center;
    background: orange;
    cursor: pointer;
}

.backSlotBtn ,
.addClinicSlotBtn:hover{
    background: white;
    border: 1px solid #eee;
}

.backSlotBtn:hover{
    background: orange;
    color: white;
}





