.appointment_made_modal{
    width: 100vw;
    position: fixed;
    display: none;
    z-index:2;
    min-height: 100vh;
    background: rgb(0,0,0,.6)
}
.appointment_made_modal_content {
    position: fixed;
    z-index: 2;
    display: grid;
    grid-template-columns: auto;
    width: 66vw;
    margin: 0 auto;
    transform: translate(25%, 14%);
    text-align: center;
    padding: 2em 2em;
    background: aliceblue;
    box-shadow: 2px 4px 20px 0px black;
}

.see_all_appointments_btn {
    padding: .8em .8em;
    width: 30vw;
    background: green;
    margin: 0 auto;
    color: white;
}

.see_all_appointments_btn:hover {
    background: white;
    color: black;
    border: 1px solid #eee;
}

.create_appointment_form {
    padding: 2em 2em;
    min-height: 100vh;
    display: grid;
    place-items: center;
}

h3{
    margin:2em 0em;
}

.container {
    margin: 1.3em 0em;
}

.card_decision_container ,
.pps_number_input_container ,
.destination_decision_container {
    margin: 2em 0em;
}

.card_decision_container, 
.medical_card_container, 
.PPS_number_container ,
.destination_decision_container,
.surgery_container,
.drive_through_container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.card_container , 
.decision_container{
    margin: 0em 1em;
    display: flex;
}

.label_radio{
    margin-bottom: unset;
}

.pps_number_input_container,
.car_reg_container{
    display: none;
}

.display{
    display: block;
}

.months_container {
    display: grid;
    grid-template-columns: auto auto auto;
    width: 66vw;
    margin: 1em auto;
    text-align: center;
    grid-gap: 1em;
}

.month {
    background: aliceblue;
    padding: 1em;
    cursor: pointer;
}

.month:hover{
    background: green !important;
    color: #fff !important;
}

.day {
    background: aliceblue;
    width: 5vw;
    height: 5vw;
    display: grid;
    border-radius: 50%;
    place-items: center;
    cursor: pointer;
}

.day:hover{
    background: green !important;
    color: #fff !important;
}

.calendar_container_m , 
.time_slot_container_m{
    margin-top: 2em;
    display: none;
}


.keyContainer {
    display: flex;
    justify-content: center;
}

.keyState {
    margin: 0em 1em;
    display: flex;
    align-items: center;
}

.circleState {
    width: 1.5vw;
    height: 1.5vw;
    border-radius: 50%;
    margin-right: .5em;
}

.closedState {
    background: orange;
}
.fullState {
    background: red;
}
.availableState {
    background: aliceblue;
    border: 1px solid rgb(0,0,0,.2);
}

.selectedState{
    background: green;
}

.keyState h5 {
    font-size: 1.7vw;
}

.calendar_container{
    display: grid;
    place-items: center;
    grid-template-columns: auto auto auto auto auto auto auto;
    margin: 1em 0em;
    text-align: center;
    grid-gap: 1em;
}
.dayOfWeek {
    font-size: 1.5vw;
}

.time_slot_container {
    display: grid;
    grid-template-columns: auto auto auto;
    text-align: center;
    margin: 2em 0em;
    grid-gap: 1em;
}

.timeslot {
    background: aliceblue;
    padding: 1em;
    border-radius: 50px;
    cursor: pointer;
}

.timeslot:hover{
    background: green;
    color: #fff;
}

#create_appointment_btn, 
.update_appointment_btn {
    padding: .5em;
    width: 40vw;
    margin: 0 auto;
    display: grid;
    border-radius: 26px;
    background: #1BA1E2;
    box-shadow: 25px 4px 29px rgba(0, 0, 0, 0.25);
    border: none;
}

#create_appointment_btn:hover,
.update_appointment_btn:hover {
    background: green;
    color: white;
}
